{{#if articles}}
{{#each articles}}
{{> article}}
{{/each}}

{{else}}
<div class="row">
    <div class="col">
        <div class="col alert alert-warning" role="alert">
            Uh Oh. Looks like we don't have any new articles.
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bg-info text-light">
                What Would You Like To Do?
            </div>
            <div class="card-body text-center">
                <button class="btn btn-outline-info btn-lg d-block mr-auto ml-auto" id="scrape">Try Scraping New
                    Articles</button>
                <a class="btn btn-link text-dark" href="/saved">
                    <i class="fa fa-share" aria-hidden="true"></i> Go to
                    Saved Articles
                </a>
            </div>

        </div>
    </div>
</div>

{{/if}}