.jumbotron {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center center;
}

p.section {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 12px;
}

.news {
  margin-bottom: 30px;
}

.card-header {
  background: #4a4a4a;
  color: #fff;
}

.card-header h3 a {
  font-size: 20px;
}

.card-header a {
  color: #fff;
  text-decoration: none;
}

.card-header a:hover {
  color: #eeeeee;
}
