body {
  min-height: 100vh;
}
.jumbotron {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 1px 2px 10px;
  border-radius: 0;
}
p.section {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 12px;
}
.news {
  margin-bottom: 30px;
}
.card-header h3 a {
  font-size: 20px;
}
.card-header a {
  color: #fff;
  text-decoration: none;
}
.card-header a:hover {
  color: #eeeeee;
}
.note-card textarea {
  width: 100%;
  font-size: 14px;
}
.note-card p {
  margin-bottom: 0;
}
.note-card hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.news .btn {
  text-transform: uppercase;
  margin-top: 10px;
}
.news .btn span {
  font-size: 12px;
}

.note-card .card-header .btn {
  margin-top: 0;
}

.note-card .card-header .btn-link {
  color: #fff;
  color: #fff;
  float: right;
  top: 0;
  padding: 0;
}

.note-card .card-header .fa-long-arrow-left {
  margin-right: 10px;
}
